<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  {% include 'include/header.html' %}
      <!-- Alert -->
      <div class="alert alert-secondary" role="alert">
        A simple primary alert—check it out!
      </div>
      <!-- Alert end -->
      <!-- Register Form Start -->
      <div class="container">
          <div class="row">
            
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Удалить пользователя {{ user.username }}</h1>
                <h3>Вы точно хотите удалить себя?</h3>
                
                <button class="w-100 btn btn-lg btn-primary" type="submit">Удалить пользователя {{ user.username }}</button>
                <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
              </form>
          </div>
      </div>
      
      <!-- Register Form End -->
      {% include 'include/footer.html' %}


      <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>